<mat-toolbar id="toolbar">
  <mat-toolbar-row>
    <span>edinet</span>
    <span class="example-spacer"></span>
    
      <mat-form-field id="search" style="margin-top: 15px;" class="example-icon search-client"  class="example-full-width">
        <input type="tel" matInput placeholder="Buscar Paciente">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    
    <mat-icon id="notify" class="example-icon" matBadge="100" matBadgeColor="warn">notifications</mat-icon>
    <mat-icon id="menu" class="example-icon" >menu</mat-icon>
    <mat-icon class="example-icon" >person_pin</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>