.content{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.footer{
    padding: 15px;
    background: #F6F8FA;
}

.item-total{
    font-size: 25px;
    font-weight: bold;
}